html{
    font-size: 1.2rem;
}
.navbar{
    top:0;
    background-image: url("images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    z-index:1;
    & .navbar-toggler{
        border-color: #fff;
        &:focus{
            box-shadow: 0 0 0 ;
        }
    }
    & .navbar-brand:hover,
    & .nav-link:hover{
        color:#4871e2!important;
    }
}
aside { 
    position: fixed;
    top: 160px;
    left: 0px;
    width: 80px;
    height: 350px;
    & a:hover{
        color: #4871e2!important;
    }
    & .rotate{
        writing-mode: vertical-lr;
        text-orientation: mixed;
        transform : rotate(180deg);
    }
}

.select{
    margin-left: 30%;
    display:flex;
    padding-top: 6rem;
}
.position{
    margin-left: 6rem;
    max-width: 80%;
    padding-top: 14.5rem;
}

.card {
    object-fit: cover;
}

#necklace,
#earring,
#ring,
#bracelet{
    cursor:pointer;
    &:hover{
        color: #4871e2;
    }
}

.jewelry_set{
    display: flex;
    margin-left:5rem;
    & img{
            object-fit: cover;
    }
}


@media all and (min-width:992px){
    .select p{
        padding-right:2rem;
    }
    .position{
        margin-left: 17%;
    }
    .jewelry_set{
        
        & img{
            width: 400px!important;
            height:320px!important;
        }

    }
}

@media all and (min-width: 1300px){
    .jewelry_set {
        max-width: 1100px;
        margin: auto;
        & img{
            width: 500px!important;
            height: 400px!important;
        }
    }
}

